/* Sticky footer styles
-------------------------------------------------- */
/* line 3, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
html {
  position: relative;
  min-height: 100%;
}

/* Pop-Theme
-------------------------------------------------- */
@-webkit-keyframes bounce {
  /* line 19, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-800px);
  }

  /* line 20, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(25px);
  }

  /* line 21, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  80% {
    -webkit-transform: translateY(-8px);
    opacity: .8;
  }

  /* line 22, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@font-face {
  font-family: avenir;
  src: url("Avenir.ttc");
}
/* line 30, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme {
  color: black;
  transition: background-color 1s, color 1s;
  font-size: 23px;
  font-weight: bolder;
}
/* line 32, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme * {
  font-family: "avenir", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 39, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a:hover {
  text-decoration: none;
  color: #fcf900;
}
/* line 44, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a.lookatme {
  color: #fcf900;
}
/* line 47, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a.lookatme:hover {
  text-decoration: none;
  color: #f70012;
}
/* line 55, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.view-tos {
  background-color: white;
}
/* line 59, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.view-home {
  background-color: #ade9fc;
}
/* line 68, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-welcome {
  background-color: #ade9fc;
  color: black;
}
/* line 72, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-welcome .navbar-default li {
  background-color: #349eeb;
  color: #fff200;
}
/* line 78, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-video {
  background-color: #fcf9a0;
  color: black;
}
/* line 82, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-video .navbar-default li {
  background-color: #349eeb;
  color: #fff200;
}
/* line 88, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-demo {
  background-color: #3aabf9;
  color: white;
}
/* line 92, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-demo .navbar-default li {
  background-color: #fefa29;
}
/* line 94, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-demo .navbar-default li a {
  color: #349eeb;
}
/* line 97, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-demo .navbar-default li .apple-logo {
  fill: #f7bd28;
}
/* line 103, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-story {
  background-color: #faf928;
  color: #00aef3;
}
/* line 107, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme.focus-on-story .navbar-default li {
  opacity: 0;
}
/* line 112, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h1, body.pop-theme h2, body.pop-theme h3, body.pop-theme h4 {
  line-height: 39px;
}
/* line 116, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h2 {
  font-weight: bolder;
  font-size: 47px;
  line-height: 65px;
  text-align: center;
}
/* line 117, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h2 span.sub-header-line {
  display: block;
}
/* line 126, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 130, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li {
  margin-top: -15px;
  color: #fff200;
  font-weight: bolder;
  background-color: #00c1f9;
  border-radius: 0 0 6px 6px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.6);
  line-height: 15px;
  position: relative;
  padding: 14px 15px 14px 76px;
  transition: box-shadow 1s, background-color 1s, color 1s, opacity .2s;
}
/* line 142, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li:active {
  box-shadow: 0 0 0 rgba(0, 24, 53, 0.5);
}
/* line 146, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li .apple-logo {
  fill: #6dcff6;
  position: absolute;
  top: -2px;
  left: -44px;
  transition: fill 1s;
}
/* line 154, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a {
  color: #fff200;
  margin-top: 20px;
  transition: color 1s;
}
/* line 159, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a:hover {
  background-color: #00c1f9;
}
/* line 167, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme #pop-logo {
  width: 260px;
}
/* line 171, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .focal-container {
  position: relative;
  margin-top: 35vh;
}
/* line 175, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .focal-container h2 {
  position: absolute;
  top: -3.7em;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 185, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .modal #modal-close {
  background-color: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10000;
}
/* line 190, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 800px;
}
/* line 196, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section > .container {
  max-width: 1160px;
  margin: 0 auto;
}
/* line 201, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container {
  text-align: center;
}
/* line 204, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container .lead {
  display: inline-block;
  vertical-align: middle;
}
/* line 210, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
/* line 214, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container .long-shadow {
  z-index: 1;
  position: absolute;
  top: 1409px;
  left: -469px;
  transform: rotate(-315deg);
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  height: 236px;
  width: 4000px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 109px;
}
/* line 229, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container button, body.pop-theme section .long-shadow-container div {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
/* line 235, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container img {
  z-index: 10;
  position: relative;
}
/* line 242, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome h2 {
  margin-bottom: 37px;
}
/* line 246, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome img {
  -webkit-animation: bounce .75s ease-in-out;
  z-index: 1000;
}
/* line 251, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .focal-container {
  position: relative;
}
/* line 253, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .focal-container .logoshadow-container {
  -webkit-animation: bounce .75s ease-in-out;
  position: absolute;
  left: 50%;
}
/* line 257, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .focal-container .logoshadow-container .logoshadow {
  width: 193px;
  height: 384px;
  position: relative;
  opacity: 0.6;
  z-index: -1;
  margin-left: -82px;
  top: 18px;
}
/* line 266, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .focal-container .logoshadow-container .logoshadow .logoshadow-circle {
  border-radius: 999px;
  width: 100%;
  height: 50%;
  background-color: #000;
  margin: 0 auto;
  /*box-shadow: 1px 1px 1px #3a4d53; only if the fakey shadow needs smoothing*/
}
/* line 275, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .focal-container .logoshadow-container .logoshadow .logoshadow-point {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 74.5px 0 31.5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 135px;
  left: 11px;
  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  transform: rotate(-13deg);
}
/* line 292, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome.no-js {
  background-color: #003663;
  color: white;
}
/* line 300, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .focal-container h2 {
  top: -3.2em;
  line-height: 40px;
}
/* line 304, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .focal-container h2 .sub-header-line-subdue {
  font-size: 29px;
  display: inline;
  white-space: nowrap;
}
/* line 311, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container {
  height: 100vh;
  min-height: 800px;
}
/* line 316, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button {
  margin-top: 15px;
  background: transparent;
  border: none;
  outline: none;
}
/* line 323, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button svg {
  width: 140px;
  height: 100px;
  margin-top: 13px;
  margin-left: 2px;
}
/* line 328, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button svg path {
  fill: #fff200;
}
/* line 333, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button span {
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  margin-top: 15px;
  display: inline-block;
}
/* line 341, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button:active .video-play-container .video-play-button-outer {
  background-color: #003663;
}
/* line 344, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button:active .video-play-container .video-play-button-outer .video-play-button-inner {
  background-color: white;
}
/* line 350, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container {
  position: relative;
  height: 177px;
  width: 177px;
}
/* line 355, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer {
  width: 175px;
  height: 175px;
  border-radius: 999px;
  background-color: #00c1f9;
  transition: background-color .9s;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.6);
}
/* line 362, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer .video-play-button-inner {
  width: 130px;
  height: 130px;
  border-radius: 999px;
  background-color: #ff0000;
  position: relative;
  top: 22px;
  left: 22px;
  transition: background-color .2s;
}
/* line 379, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video.no-js {
  background-color: white;
  color: black;
}
/* line 387, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo h2 {
  margin-bottom: 8px;
  margin-left: 35px;
}
/* line 392, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container {
  text-align: left;
  height: 100vh;
  min-height: 800px;
}
/* line 397, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .bullet-container {
  padding-top: 27px;
}
/* line 401, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row {
  max-width: 940px;
  margin: 0 auto;
}
/* line 406, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol {
  margin: 0;
  padding: 0;
  counter-reset: demo-counter;
  padding-top: 26px;
}
/* line 413, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li {
  list-style-type: none;
  color: #a6e9fd;
  margin-bottom: 118px;
}
/* line 419, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li span {
  display: inline-block;
  padding-left: 110px;
  margin-top: 20px;
  font-weight: 600;
  display: block;
  margin-top: -49px;
  font-size: 24px;
}
/* line 429, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:before {
  content: counter(demo-counter);
  counter-increment: demo-counter;
  border: solid 10px;
  border-radius: 999px;
  padding: 15px 23px;
  margin: 0 20px 0 0;
  font-style: italic;
  font-weight: 700;
  font-size: 21px;
}
/* line 441, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(1):before {
  color: #fcf900;
}
/* line 445, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(2):before {
  color: #ff0000;
}
/* line 449, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(3):before {
  color: #00518c;
}
/* line 456, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .iphone-demo-container {
  background-image: url("iphone5.svg");
  background-size: 480px;
  background-position: -126px;
  background-repeat: no-repeat;
  height: 470px;
  width: 222px;
  border: solid 0px transparent;
  border-radius: 30px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  position: relative;
}
/* line 469, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .iphone-demo-container video {
  position: absolute;
  top: 51px;
  left: 18px;
  width: 192px;
  height: 369px;
}
/* line 478, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo.no-js {
  background-color: #99e2ff;
  color: black;
}
/* line 486, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story h2 {
  margin-bottom: 40px;
}
/* line 490, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .container {
  height: 100vh;
  min-height: 800px;
}
/* line 495, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row {
  margin-bottom: 40px;
}
/* line 498, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row:nth-child(1) .quote {
  padding-right: 100px;
}
/* line 502, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row:nth-child(2) .quote {
  padding-left: 100px;
}
/* line 507, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story button {
  background-color: #00aef3;
  color: white;
  border: solid 0px transparent;
  border-radius: 6px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.6);
  padding: 29px 57px 25px 120px;
  position: relative;
  font-size: 35px;
}
/* line 517, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story button .apple-logo {
  fill: #6dcff6;
  position: absolute;
  top: 23px;
  left: 56px;
}
/* line 526, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section.no-js {
  background-color: white;
  color: black;
}
/* line 533, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#tos {
  max-width: 800px;
  margin: 100px auto 150px auto;
  height: auto;
  font-weight: lighter;
}
/* line 539, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#tos h2 {
  text-align: left;
}
/* line 543, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#tos .container {
  text-align: left;
}
/* line 548, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10vh;
  background-color: #003663;
  overflow: hidden;
  font-size: 13px;
  color: white;
  padding: 30px 0 55px 0;
  font-weight: 600;
}
/* line 562, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container {
  position: relative;
}
/* line 566, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a {
  color: white;
}
/* line 569, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:hover {
  color: #fcf900;
}
/* line 573, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:active {
  color: white;
}
/* line 577, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:focus {
  color: white;
}
/* line 581, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a.lookatme {
  color: #fcf900;
}
/* line 583, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a.lookatme:hover {
  color: #f70012;
}
/* line 589, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container p.copyright {
  color: white;
}
/* line 593, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container ul {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 599, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container ul li {
  display: inline;
  text-align: right;
  margin-left: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* line 615, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme h1, body.pop-theme h2, body.pop-theme h3, body.pop-theme h4 {
    font-size: 24px;
    line-height: 28px;
  }
  /* line 619, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme h1 span.sub-header-line, body.pop-theme h2 span.sub-header-line, body.pop-theme h3 span.sub-header-line, body.pop-theme h4 span.sub-header-line {
    display: inline;
  }
  /* line 624, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .navbar {
    display: none;
  }
  /* line 628, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .focal-container {
    margin-top: 60px;
  }
  /* line 633, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .modal #modal-close {
    left: -10px;
  }
  /* line 638, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#welcome {
    height: auto;
  }
  /* line 641, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#welcome .container {
    margin-top: 50px;
  }
  /* line 644, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#welcome .container h2 {
    top: -5.1em;
  }
  /* line 650, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#video {
    height: auto;
  }
  /* line 654, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#video .focal-container h2 {
    line-height: 24px;
    top: -4.5em;
  }
  /* line 657, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#video .focal-container h2 .sub-header-line-subdue {
    font-size: 20px;
    font-weight: normal;
    display: block;
  }
  /* line 665, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#video .container {
    margin-top: 30px;
  }
  /* line 668, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#video .container button {
    margin-top: 25px;
  }
  /* line 674, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#demo {
    display: none;
  }
  /* line 681, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#story .container button {
    width: 100%;
    padding: 29px 57px 25px 85px;
  }
  /* line 684, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme section#story .container button .apple-logo {
    top: 23px;
    left: 21px;
  }
  /* line 693, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .footer {
    height: auto;
    text-align: center;
  }
  /* line 696, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .footer p {
    margin: 0;
  }
  /* line 700, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .footer .container ul {
    display: block;
    position: relative;
    margin-bottom: 0px;
    padding: 0;
  }
  /* line 705, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
  body.pop-theme .footer .container ul li {
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-left: 0;
    margin-bottom: 16px;
  }
}
