/* Sticky footer styles
-------------------------------------------------- */
/* line 3, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 7, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 17, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body > .container {
  width: 100%;
}

/* line 21, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 26, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
code {
  font-size: 80%;
}

/* Pop-Theme
-------------------------------------------------- */
/* line 33, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme {
  background-color: #003663;
  font-size: 23px;
}
/* line 39, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h2 span.sub-header-line {
  display: block;
}
/* line 44, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 48, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li {
  margin-top: -15px;
  color: #fff200;
  font-weight: bolder;
  background-color: #00c1f9;
  border-radius: 0 0 6px 6px;
  box-shadow: 10px 10px 0 rgba(0, 24, 53, 0.5);
  line-height: 15px;
  position: relative;
  padding: 0 0 5px 40px;
}
/* line 59, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li:active {
  box-shadow: 0 0 0;
}
/* line 63, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li .apple-logo {
  fill: #6dcff6;
  vertical-align: middle;
  position: absolute;
  top: -2px;
  left: -25px;
}
/* line 71, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a {
  color: #fff200;
  margin-top: 20px;
}
/* line 75, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a:hover {
  background-color: #00c1f9;
}
/* line 83, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section {
  height: 75vh;
  min-height: 600px;
  overflow: hidden;
}
/* line 88, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container {
  margin-top: 15vh;
  text-align: center;
}
/* line 92, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container .lead {
  display: inline-block;
  vertical-align: middle;
}
/* line 98, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 227px;
  height: 229px;
}
/* line 104, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container .long-shadow {
  z-index: 1;
  position: absolute;
  top: 249px;
  left: 25px;
  transform: rotate(-315deg);
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  height: 234px;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 70px;
}
/* line 119, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container img, body.pop-theme section .long-shadow-container button, body.pop-theme section .long-shadow-container div {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
/* line 127, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome {
  background-color: #003663;
  color: white;
}
/* line 132, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video {
  background-color: white;
  color: black;
}
/* line 136, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container {
  margin-top: 5vh;
}
/* line 139, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container .long-shadow {
  top: 229px;
  left: -20px;
  height: 173px;
  width: 100vh;
  border-radius: 20px;
}
/* line 147, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button {
  margin-top: 15px;
  background: transparent;
  border: none;
}
/* line 153, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button span {
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  margin-top: 15px;
  display: inline-block;
}
/* line 161, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container {
  position: relative;
  height: 177px;
  width: 177px;
}
/* line 166, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer {
  width: 175px;
  height: 175px;
  border-radius: 999px;
  background-color: #00c1f9;
}
/* line 171, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer .video-play-button-inner {
  width: 130px;
  height: 130px;
  border-radius: 999px;
  background-color: #ff0000;
  position: relative;
  top: 22px;
  left: 22px;
}
/* line 180, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer .video-play-button-inner span {
  color: #fff200;
  font-size: 62px;
  position: relative;
  top: 18px;
  left: 6px;
  margin-top: 0;
}
/* line 196, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo {
  background-color: #99e2ff;
  color: black;
}
/* line 201, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story {
  background-color: white;
  color: black;
}
/* line 206, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #003663;
  overflow: hidden;
}
