/* Sticky footer styles
-------------------------------------------------- */
/* line 3, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
html {
  position: relative;
  min-height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 12, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body > .container {
  width: 100%;
}

/* line 16, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 21, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
code {
  font-size: 80%;
}

/* Pop-Theme
-------------------------------------------------- */
@font-face {
  font-family: avenir;
  src: url(avenir.ttc);
}
/* line 37, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme {
  background-color: #003663;
  font-size: 23px;
  font-weight: bolder;
}
/* line 39, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme * {
  font-family: "avenir", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/* line 46, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a:hover {
  text-decoration: none;
  color: #fcf900;
}
/* line 51, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a.lookatme {
  color: #fcf900;
}
/* line 54, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme a.lookatme:hover {
  text-decoration: none;
  color: #f70012;
}
/* line 65, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h1, body.pop-theme h2, body.pop-theme h3, body.pop-theme h4 {
  line-height: 39px;
}
/* line 69, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h2 {
  font-weight: bolder;
}
/* line 70, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme h2 span.sub-header-line {
  display: block;
}
/* line 76, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
/* line 80, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li {
  margin-top: -15px;
  color: #fff200;
  font-weight: bolder;
  background-color: #00c1f9;
  border-radius: 0 0 6px 6px;
  box-shadow: 10px 10px 0 rgba(0, 24, 53, 0.5);
  line-height: 15px;
  position: relative;
  padding: 0 0 5px 40px;
  transition: box-shadow .2s;
}
/* line 92, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li:active {
  box-shadow: 0 0 0 rgba(0, 24, 53, 0.5);
}
/* line 96, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li .apple-logo {
  fill: #6dcff6;
  position: absolute;
  top: -2px;
  left: -25px;
}
/* line 103, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a {
  color: #fff200;
  margin-top: 20px;
}
/* line 107, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .navbar-default li a:hover {
  background-color: #00c1f9;
}
/* line 115, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme #pop-logo {
  width: 260px;
}
/* line 119, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section {
  overflow: hidden;
  position: relative;
}
/* line 123, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section > .container {
  max-width: 1160px;
  margin: 0 auto;
}
/* line 128, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container {
  text-align: center;
}
/* line 131, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .container .lead {
  display: inline-block;
  vertical-align: middle;
}
/* line 137, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
/* line 141, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container .long-shadow {
  z-index: 1;
  position: absolute;
  top: 1409px;
  left: -469px;
  transform: rotate(-315deg);
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -o-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  height: 236px;
  width: 4000px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 109px;
}
/* line 156, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container button, body.pop-theme section .long-shadow-container div {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
/* line 162, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section .long-shadow-container img {
  z-index: 10;
  position: relative;
}
/* line 168, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome {
  background-color: #003663;
  color: white;
  height: 75vh;
  min-height: 800px;
}
/* line 173, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome h2 {
  margin-bottom: 37px;
}
/* line 176, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#welcome .container {
  margin-top: 142px;
}
/* line 181, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video {
  background-color: white;
  color: black;
  height: 75vh;
  min-height: 800px;
}
/* line 187, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container {
  margin-top: 50px;
}
/* line 190, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container .long-shadow-container {
  margin-left: -200px;
}
/* line 194, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container .long-shadow-container .long-shadow {
  top: 1420px;
  left: -504px;
  height: 176px;
  width: 4000px;
  border-radius: 20px;
}
/* line 203, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button {
  margin-top: 15px;
  background: transparent;
  border: none;
  outline: none;
}
/* line 210, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button span {
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  margin-top: 15px;
  display: inline-block;
}
/* line 218, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button:active .video-play-container .video-play-button-outer {
  background-color: #003663;
}
/* line 221, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button:active .video-play-container .video-play-button-outer .video-play-button-inner {
  background-color: white;
}
/* line 226, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container {
  position: relative;
  height: 177px;
  width: 177px;
}
/* line 231, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer {
  width: 175px;
  height: 175px;
  border-radius: 999px;
  background-color: #00c1f9;
  transition: background-color .9s;
}
/* line 237, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer .video-play-button-inner {
  width: 130px;
  height: 130px;
  border-radius: 999px;
  background-color: #ff0000;
  position: relative;
  top: 22px;
  left: 22px;
  transition: background-color .2s;
}
/* line 247, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#video .container button .video-play-container .video-play-button-outer .video-play-button-inner span {
  color: #fff200;
  font-size: 64px;
  position: relative;
  top: 18px;
  left: 6px;
  margin-top: 0;
}
/* line 263, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo {
  background-color: #99e2ff;
  color: black;
  min-height: 0;
  height: auto;
}
/* line 269, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo h2 {
  margin-bottom: 75px;
  margin-left: 35px;
}
/* line 274, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .long-shadow {
  top: 1375px;
  left: -395px;
  height: 541px;
  width: 4000px;
}
/* line 281, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container {
  text-align: left;
  margin-top: 107px;
}
/* line 285, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row {
  height: 400px;
}
/* line 289, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol {
  margin: 0;
  padding: 0;
  counter-reset: demo-counter;
}
/* line 295, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li {
  list-style-type: none;
  color: #405da5;
  margin-bottom: 118px;
}
/* line 301, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li span {
  display: inline-block;
  padding-left: 96px;
  margin-top: 20px;
  font-weight: 500;
  display: block;
  margin-top: -41px;
  font-size: 20px;
}
/* line 311, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:before {
  content: counter(demo-counter);
  counter-increment: demo-counter;
  border: solid 8px;
  border-radius: 999px;
  padding: 18px 26px;
  margin: 0 20px 0 0;
  font-style: italic;
  font-weight: 700;
  font-size: 21px;
}
/* line 323, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(1):before {
  color: #fcf900;
}
/* line 327, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(2):before {
  color: #ff0000;
}
/* line 331, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .container .row ol li:nth-child(3):before {
  color: #00aef3;
}
/* line 339, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#demo .iphone-demo-container img {
  width: 400px;
  bottom: -880px;
  position: absolute;
}
/* line 347, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story {
  background-color: white;
  color: black;
}
/* line 351, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story h2 {
  font-size: 64px;
}
/* line 355, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .container {
  margin-top: 92px;
}
/* line 359, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row {
  margin-bottom: 40px;
}
/* line 362, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row:nth-child(1) .quote {
  padding-right: 100px;
}
/* line 366, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .row:nth-child(2) .quote {
  padding-left: 100px;
}
/* line 371, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people {
  text-align: left;
  margin-bottom: 153px;
}
/* line 375, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person {
  text-align: center;
}
/* line 377, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person .avatar {
  border-radius: 999px;
  width: 100px;
  height: 100px;
  border: solid 10px;
  margin: 0 auto;
  box-shadow: 6px 5px 1px #cccccc;
}
/* line 385, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person .avatar.josh {
  background-image: url("joshavatar.png");
  background-size: auto 108px;
  background-position: -14px -14px;
  border-color: #ff0000;
}
/* line 392, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person .avatar.alaric {
  background-image: url("alaricavatar.png");
  background-size: auto 108px;
  background-position: -14px -14px;
  border-color: #00aef3;
}
/* line 399, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person p {
  font-size: 13px;
}
/* line 402, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person .name {
  font-weight: bolder;
  margin: 10px 0 0 0;
}
/* line 406, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .person .title {
  color: #cccccc;
}
/* line 411, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme section#story .people .quote {
  padding-top: 30px;
}
/* line 419, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #003663;
  overflow: hidden;
  font-size: 13px;
  color: white;
  padding: 30px 0 55px 0;
  font-weight: 600;
}
/* line 432, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container {
  position: relative;
}
/* line 436, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a {
  color: white;
}
/* line 439, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:hover {
  color: #fcf900;
}
/* line 443, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:active {
  color: white;
}
/* line 447, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a:focus {
  color: white;
}
/* line 451, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a.lookatme {
  color: #fcf900;
}
/* line 453, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container a.lookatme:hover {
  color: #f70012;
}
/* line 459, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container p.copyright {
  color: white;
}
/* line 463, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container ul {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 469, /Users/eric/workspace/pop-web/assets/pop-theme.scss */
body.pop-theme .footer .container ul li {
  display: inline;
  text-align: right;
  margin-left: 1em;
  text-transform: uppercase;
}
