/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Pop-Theme
-------------------------------------------------- */

$base-font-size: 23px;
$smaller-font-size: 13px;
$footer-font-size: 13px;

@font-face {
  font-family: avenir;
  src: url('Avenir.ttc');
}

body.pop-theme {

  * {
    font-family: "avenir", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }

  a {
    &:hover {
      text-decoration:none;
      color:rgb(252, 249, 0);
    }

    &.lookatme {
      color:rgb(252, 249, 0);

      &:hover {
        text-decoration:none;
        color:rgb(247, 0, 18);
      }
    }
  }

  background-color:rgba(173,233,252, 1);
  color:rgba(0, 0, 0, 1);
  transition:background-color 1s, color 1s;
  font-size: $base-font-size;
  font-weight:bolder;

  &.focus-on-welcome {
    background-color:rgba(173,233,252, 1);
    color:rgba(0, 0, 0, 1);

    .navbar-default li {
      background-color:rgb(52,158,235);
      color:#fff200;
    }
  }

  &.focus-on-video {
    background-color:rgba(252,249,160, 1);
    color:rgba(0,0,0, 1);

    .navbar-default li {
      background-color:rgb(52,158,235);
      color:#fff200;
    }
  }

  &.focus-on-demo {
    background-color:rgba(58,171,249, 1);
    color:rgba(255, 255, 255, 1);

    .navbar-default li {
      background-color:rgb(254,250,41);
      a {
        color:rgb(52,158,235);
      }
      .apple-logo {
        fill:rgb(247,189,40);
      }
    }
  }

  &.focus-on-story {
    background-color:rgba(250,249,40, 1);
    color:rgba(52,158,235, 1);

    .navbar-default li {
      opacity:0;
    }
  }

  h1, h2, h3, h4 {
    line-height: 39px;
  }

  h2 {
    span.sub-header-line {
      display:block;
    }
    font-weight:bolder;
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;

    li {
      margin-top: -15px;
      color:#fff200;
      font-weight:bolder;
      background-color:rgb(0, 193, 249);
      border-radius:0 0 6px 6px;
      box-shadow: 10px 10px 0 rgba(0, 24, 53, .5);
      line-height:15px;
      position:relative;
      padding:14px 15px 14px 76px;
      transition:box-shadow 1s, background-color 1s, color 1s, opacity .2s;

      &:active {
        box-shadow:0 0 0 rgba(0, 24, 53, .5);
      }

      .apple-logo {
        fill:#6dcff6;
        position:absolute;
        top:-2px;
        left: -44px;
        transition:fill 1s;
      }

      a {
        color:#fff200;
        margin-top:20px;
        transition:color 1s;

        &:hover {
          background-color:rgb(0, 193, 249);
        }
      }
    }

  }

  #pop-logo {
    width:260px;
  }

  .focal-container {
    position:relative;
    margin-top: 35vh;

    h2 {
      position:absolute;
      top: -3.7em;
      left:0;
      right:0;
      text-align:center;
      font-size: 47px;
      line-height: 65px
    }
  }

  section {
    overflow:hidden;
    position:relative;
    height:100vh;
    min-height:800px;

    > .container {
      max-width:1160px;
      margin:0 auto;
    }

    .container {
      text-align:center;

      .lead {
        display:inline-block;
        vertical-align:middle;
      }
    }

    .long-shadow-container {
      position:relative;
      display:inline-block;
      margin:0 auto;
      .long-shadow {
        z-index: 1;
        position: absolute;
        top: 1409px;
        left: -469px;
        transform: rotate(-315deg);
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        -o-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
        height: 236px;
        width: 4000px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0 109px;
      }
      button, div {
        top:0;
        left:0;
        position:absolute;
        z-index:10;
      }
      img {
        z-index:10;
        position:relative;
      }
    }

    &#welcome {
      h2 {
        margin-bottom: 37px;
      }

      &.no-js {
        background-color:#003663;
        color:white;
      }
    }

    &#video {

      .focal-container h2 {
        top: -3.2em;
        line-height:40px;

        .sub-header-line-subdue {
          font-size: 29px;
          display:block;
        }
      }

      .container {

        .long-shadow-container {

            margin-left:-200px;

            .long-shadow {
              top: 1420px;
              left: -504px;
              height: 176px;
              width: 4000px;
              border-radius:20px;
            }
        }

        button {

          margin-top:15px;
          background:transparent;
          border:none;
          outline: none;

          svg {
            width: 140px;
            height: 100px;
            margin-top:13px;
            margin-left:2px;
            path {
              fill:#fff200;
            }
          }

          span {
            font-size:$smaller-font-size;
            text-shadow: 1px 1px 1px rgba(0,0,0,.5);
            font-weight:bolder;
            margin-top:15px;
            display:inline-block;
          }

          &:active .video-play-container .video-play-button-outer {
            background-color:rgb(0, 54, 99);

            .video-play-button-inner {
              background-color:rgb(255, 255, 255);

            }
          }

          .video-play-container {
            position:relative;
            height:177px;
            width:177px;

            .video-play-button-outer {
              width:175px;
              height:175px;
              border-radius:999px;
              background-color:rgb(0, 193, 249);
              transition:background-color .9s;
              .video-play-button-inner {
                width:130px;
                height:130px;
                border-radius:999px;
                background-color:#ff0000;
                position: relative;
                top: 22px;
                left: 22px;
                transition:background-color .2s;

              }
            }
          }
        }

      }

      &.no-js {
        background-color:white;
        color:black;
      }
    }

    &#demo {
      min-height: 800px;

      h2 {
        margin-bottom: 75px;
        margin-left:35px;
      }

      .long-shadow {
        top: 1375px;
        left: -395px;
        height: 541px;
        width: 4000px;
      }

      .container {
        text-align:left;
        margin-top: 107px;

        .row {
          height:400px;


          ol {
            margin:0;
            padding:0;
            counter-reset: demo-counter;
          }

          ol li {

            list-style-type: none;
            color: #405da5;
            margin-bottom: 118px;

            span {
              display: inline-block;
              padding-left: 96px;
              margin-top: 20px;
              font-weight: 500;
              display:block;
              margin-top: -41px;
              font-size:20px;
            }

            &:before {
              content: counter(demo-counter);
              counter-increment: demo-counter;
              border: solid 8px;
              border-radius: 999px;
              padding: 18px 26px;
              margin: 0 20px 0 0;
              font-style: italic;
              font-weight: 700;
              font-size: 21px;
            }

            &:nth-child(1):before {
              color:#fcf900;
            }

            &:nth-child(2):before {
              color:#ff0000;
            }

            &:nth-child(3):before {
              color:#00aef3;
            }
          }
        }
      }

      .iphone-demo-container {
        img {
          width:400px;
          bottom: -880px;
          position:absolute;
        }
      }

      &.no-js {
        background-color:#99e2ff;
        color:black;
      }
    }

    &#story {
      height:100vh;
      margin-bottom: 100px;

      h2 {
        font-size:64px;
      }

      .container {
        margin-top: 92px;
      }

      .row {
        margin-bottom:40px;

        &:nth-child(1) .quote {
          padding-right:100px;
        }

        &:nth-child(2) .quote {
          padding-left:100px;
        }
      }

      .people {
        text-align:left;
        margin-bottom: 153px;

        .person {
          text-align:center;
          .avatar {
            border-radius:999px;
            width:100px;
            height:100px;
            border:solid 10px;
            margin:0 auto;
            box-shadow: 6px 5px 1px #cccccc;

            &.josh {
              background-image: url('joshavatar.png');
              background-size: auto 108px;
              background-position: -14px -14px;
              border-color: #ff0000;
            }

            &.alaric {
              background-image: url('alaricavatar.png');
              background-size: auto 108px;
              background-position: -14px -14px;
              border-color: rgb(0, 174, 243);
            }
          }
          p {
            font-size:$smaller-font-size;
          }
          .name {
            font-weight:bolder;
            margin:10px 0 0 0;
          }
          .title {
            color:rgb(204, 204, 204);
          }
        }

        .quote {
          padding-top:30px;
        }
      }
    }

    &.no-js {
      background-color:white;
      color:black;
    }

  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    //height: 40px;
    height:10vh;
    background-color:#003663;
    overflow:hidden;
    font-size: $footer-font-size;
    color:white;
    padding:30px 0 55px 0;
    font-weight:600;

    .container {

      position:relative;

      a {
        color:white;

        &:hover {
          color:rgb(252, 249, 0);
        }

        &:active {
          color:white;
        }

        &:focus {
          color:white;
        }

        &.lookatme {
          color:rgb(252, 249, 0);
          &:hover {
            color:rgb(247, 0, 18);
          }
        }
      }

      p.copyright {
        color:white;
      }

      ul {
        display:inline-block;
        position:absolute;
        right:0;
        top:0;

        li {
          display:inline;
          text-align:right;
          margin-left:1em;
          text-transform:uppercase;
        }
      }

    }

  }

}

@media (max-width: 768px) {
  body.pop-theme {
    h1, h2, h3, h4 {
      font-size: 20px;
      line-height:25px;

      span.sub-header-line {
        display:inline;
      }
    }

    section#welcome {
      height:auto;
      min-height:500px;
      .container {
        margin-top: 50px;
      }
    }

    section#video {
      height:auto;
      min-height:550px;
      .container {
        margin-top: 30px;

        .long-shadow-container .long-shadow {
          top: 1422px;
          left: -482px;
          height: 176px;
          width: 4000px;
          border-radius: 20px;
        }
      }
    }

    section#demo{
      min-height: 650px;
      .container {
        margin-top: 50px;
        margin-bottom: 75px;
        margin-left:0;
        text-align:center;
        max-height:0;

        h2 {
          margin-left: 0;
        }

        .row ol {
          text-align:left;

          li {
            margin-bottom: 65px;
            span {
              margin-top: -57px;
            }
          }
        }

        .iphone-demo {
          display:none;
        }
      }
    }

    section#story {
      h2 {
        font-size:19px;
      }
      .container {
        margin-top: 20px;

        .people .quote {
          padding:0;
        }

        .row {

          > div {
            display:inline-block;
            width:44vw;
            vertical-align:top;
          }

          &:nth-child(1) .quote {
            padding-right:0;
            font-size:13px;
          }

          &:nth-child(2) .quote {
            padding-left:0;
            font-size:13px;
          }
        }
      }
    }

    .footer {
      height:auto;
      text-align:center;
      p {
        margin: 0;
      }
      .container {
        ul {
          display: block;
          position: relative;
          margin-bottom: 0px;
          padding:0;
          li {
            text-align:center;
            text-transform:uppercase;
            display:block;
            margin-left: 0;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
