/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  width: 100%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Pop-Theme
-------------------------------------------------- */

body.pop-theme {

  background-color:#003663;
  font-size: 23px;

  h2 {
    span.sub-header-line {
      display:block;
    }
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;

    li {
      margin-top: -15px;
      color:#fff200;
      font-weight:bolder;
      background-color:rgb(0, 193, 249);
      border-radius:0 0 6px 6px;
      box-shadow: 10px 10px 0 rgba(0, 24, 53, .5);
      line-height:15px;
      position:relative;
      padding:0 0 5px 40px;

      &:active {
        box-shadow:0 0 0;
      }

      .apple-logo {
        fill:#6dcff6;
        vertical-align:middle;
        position:absolute;
        top:-2px;
        left:-25px;
      }

      a {
        color:#fff200;
        margin-top:20px;

        &:hover {
          background-color:rgb(0, 193, 249);
        }
      }
    }

  }

  section {
    height:75vh;
    min-height:600px;
    overflow:hidden;

    .container {
      margin-top:15vh;
      text-align:center;

      .lead {
        display:inline-block;
        vertical-align:middle;
      }
    }

    .long-shadow-container {
      position:relative;
      display:inline-block;
      margin:0 auto;
      width:227px;
      height:229px;
      .long-shadow {
        z-index:1;
        position: absolute;
        top: 249px;
        left: 25px;
        transform: rotate(-315deg);
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        -o-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
        height: 234px;
        width: 100vh;
        background-color: rgba(0,0,0,.2);
        border-radius:0 70px;
      }
      img {
        top:0;
        left:0;
        position:absolute;
        z-index:10;
      }
    }

    &#welcome {
      background-color:#003663;
      color:white;
    }

    &#video {
      background-color:white;
      color:black;

      .container {
        margin-top:5vh;

        button.video-play-container {
          margin-top:15px;
          background:transparent;
          border:none;
          position:relative;

          span {
            font-size:15px;
            text-shadow: 1px 1px 1px rgba(0,0,0,.5);
            font-weight:bolder;
            margin-top:15px;
            display:inline-block;
          }

          .video-play-button-outer {
            width:175px;
            height:175px;
            border-radius:999px;
            background-color:rgb(0, 193, 249);
            .video-play-button-inner {
              width:130px;
              height:130px;
              border-radius:999px;
              background-color:#ff0000;
              position: relative;
              top: 22px;
              left: 22px;

              span {
                color:#fff200;
                font-size:62px;
                position: relative;
                top: 18px;
                left: 6px;
                margin-top:0;
              }
            }
          }
        }
      }
    }

    &#demo {
      background-color:#99e2ff;
      color:black;
    }

    &#story {
      background-color:white;
      color:black;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 40px;
      background-color:#003663;
      overflow:hidden;
    }

  }

}
