/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  width: 100%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Pop-Theme
-------------------------------------------------- */

$base-font-size: 23px;
$smaller-font-size: 15px;

@font-face {
  font-family: avenir;
  src: url(avenir.ttc);
}

body.pop-theme {

  * {
    font-family: "avenir", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  a {
    &:hover {
      text-decoration:none;
    }

    &.lookatme {
      color:rgb(252, 249, 0);
    }
  }

  background-color:#003663;
  font-size: $base-font-size;
  font-weight:bolder;

  h2 {
    span.sub-header-line {
      display:block;
    }
    font-weight:bolder;
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;

    li {
      margin-top: -15px;
      color:#fff200;
      font-weight:bolder;
      background-color:rgb(0, 193, 249);
      border-radius:0 0 6px 6px;
      box-shadow: 10px 10px 0 rgba(0, 24, 53, .5);
      line-height:15px;
      position:relative;
      padding:0 0 5px 40px;
      transition:box-shadow .2s;

      &:active {
        box-shadow:0 0 0 rgba(0, 24, 53, .5);
      }

      .apple-logo {
        fill:#6dcff6;
        vertical-align:middle;
        position:absolute;
        top:-2px;
        left:-25px;
      }

      a {
        color:#fff200;
        margin-top:20px;

        &:hover {
          background-color:rgb(0, 193, 249);
        }
      }
    }

  }

  section {
    height:75vh;
    min-height:800px;
    overflow:hidden;
    position:relative;

    .container {
      margin-top:15vh;
      text-align:center;

      .lead {
        display:inline-block;
        vertical-align:middle;
      }
    }

    .long-shadow-container {
      position:relative;
      display:inline-block;
      margin:0 auto;
      width:227px;
      height:229px;
      .long-shadow {
        z-index:1;
        position: absolute;
        top: 1443px;
        left: -454px;
        transform: rotate(-315deg);
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        -o-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
        height: 236px;
        width: 4000px;
        background-color: rgba(0,0,0,.2);
        border-radius:0 70px;
      }
      img, button, div {
        top:0;
        left:0;
        position:absolute;
        z-index:10;
      }
    }

    &#welcome {
      background-color:#003663;
      color:white;
    }

    &#video {
      background-color:white;
      color:black;

      .container {
        margin-top:5vh;

        .long-shadow {
          top: 1420px;
          left: -504px;
          height: 176px;
          width: 4000px;
          border-radius:20px;
        }

        button {

          margin-top:15px;
          background:transparent;
          border:none;

          span {
            font-size:$smaller-font-size;
            text-shadow: 1px 1px 1px rgba(0,0,0,.5);
            font-weight:bolder;
            margin-top:15px;
            display:inline-block;
          }

          &:active .video-play-container .video-play-button-outer {
            background-color:rgb(0, 54, 99);

            .video-play-button-inner {
              background-color:rgb(255, 255, 255);
            }
          }

          .video-play-container {
            position:relative;
            height:177px;
            width:177px;

            .video-play-button-outer {
              width:175px;
              height:175px;
              border-radius:999px;
              background-color:rgb(0, 193, 249);
              transition:background-color .9s;
              .video-play-button-inner {
                width:130px;
                height:130px;
                border-radius:999px;
                background-color:#ff0000;
                position: relative;
                top: 22px;
                left: 22px;
                transition:background-color .2s;

                span {
                  color:#fff200;
                  font-size:64px;
                  position: relative;
                  top: 18px;
                  left: 6px;
                  margin-top:0;
                }
              }
            }
          }
        }

      }
    }

    &#demo {
      background-color:#99e2ff;
      color:black;

      .long-shadow {
        top: 1393px;
        left: -454px;
        height: 236px;
        width: 4000px;
      }

      .container {
        position:absolute;
        bottom:0;
        text-align:left;

        .row {
          height:400px;


          ol {
            margin:0;
            padding:0;
            counter-reset: demo-counter;
          }

          ol li {

            list-style-type:none;
            color:#405da5;

            span {
              display:inline-block;
              padding-left:60px;
              margin-top:-80px;
            }

            &:before {
              content: counter(demo-counter);
              counter-increment: demo-counter;
              border:solid 6px;
              border-radius:999px;
              padding:5px 12px;
              margin:0 20px 0 0;
            }

            &:nth-child(1):before {
              color:#fcf900;
            }

            &:nth-child(2):before {
              color:#ff0000;
            }

            &:nth-child(3):before {
              color:#00aef3;
            }
          }
        }
      }

      .iphone-demo-container {
        img {
          height:70vh;
        }
      }
    }

    &#story {
      background-color:white;
      color:black;

      h2 {
        font-size:64px;
      }

      .row {
        margin-bottom:40px;

        &:nth-child(1) .quote {
          padding-right:100px;
        }

        &:nth-child(2) .quote {
          padding-left:100px;
        }
      }

      .people {
        text-align:left;

        .person {
          text-align:center;
          .avatar {
            border-radius:999px;
            width:100px;
            height:100px;
            border:solid 10px;
            margin:0 auto;
            box-shadow: 6px 5px 1px #cccccc;

            &.josh {
              border-color:#ff0000;
            }

            &.alaric {
              border-color:rgb(0, 174, 243);
            }
          }
          p {
            font-size:$smaller-font-size;
          }
          .name {
            font-weight:bolder;
            margin:10px 0 0 0;
          }
          .title {
            color:rgb(204, 204, 204);
          }
        }

        .quote {
          padding-top:30px;
        }
      }
    }

  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color:#003663;
    overflow:hidden;
    font-size: $smaller-font-size;
    color:white;
    padding:30px 0 55px 0;

    .container {

      position:relative;

      a {
        color:white;

        &:hover {
          color:white;
        }

        &:active {
          color:white;
        }

        &:focus {
          color:white;
        }

        &.lookatme {
          color:rgb(252, 249, 0);
        }
      }

      p.copyright {
        color:white;
      }

      ul {
        display:inline-block;
        position:absolute;
        right:0;
        top:0;

        li {
          display:inline;
          text-align:right;
          margin-left:1em;
          text-transform:uppercase;
        }
      }

    }

  }

}
