<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A free app to reconnect with close friends in a whole new visual way. Ditch impersonal texts for the convenience and richness of video chat.">
    <meta name="author" content="Imagist Labs, Inc">

    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/pop-theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body class="pop-theme no-js">

    <script>
    document.querySelector('body').classList.remove('no-js');
    </script>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">{% include apple-logo.html class="apple-logo" width="30px" height="35px" %} Download</a></li>
        </ul>
      </div>
    </div>

    <!-- Begin page content -->
    {{content}}

    <div class="footer">
      <div class="container">
        <ul>
          <li><a href="#" class="lookatme">Download</a></li>
          <li><a href="http://blog.imagistlabs.co/about/">About</a></li>
          <li><a href="http://www.twitter.com/sendpop/">Follow us</a></li>
          <li>Press</li>
        </ul>
        <p class="copyright"><a href="http://www.imagistlabs.co/">Copyright {{site.time| date: "%Y"}} Imagist labs, inc.</a></p>
      </div>
    </div>

    <!-- Video Modal -->
    <div class="modal fade" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="videomodal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 671px;">
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap.js"></script>
    <script>
    function debounce(fn, delay) {
      var timer = null;
      return function () {
        var context = this, args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
          fn.apply(context, args);
        }, delay);
      };
    }


    var vimeoIframe = '<iframe width="639" height="510" src="//www.youtube.com/embed/gE7MQ4S6Jvc?autoplay=1" frameborder="0" allowfullscreen></iframe>',
        mobileWidth = 768;
    $('#videomodal').on('show.bs.modal',function(e) {
      if ($(window).width() < mobileWidth) {
        e.preventDefault();
        location.href = 'https://www.youtube.com/watch?v=gE7MQ4S6Jvc';
      } else {
        $(e.target).find('.modal-body').html(vimeoIframe);
      }
    });

    $('#videomodal').on('hide.bs.modal',function(e) {
      $(e.target).find('.modal-body').html('');
    });
    </script>

    <script>

    var sections      = document.querySelectorAll('section'),
        body          = document.querySelector('body'),
        sectionCache = [],
        activeBg;

    for(var i=0; sections.length > i; i++) {
      sectionCache.push({
        id        : sections[i].getAttribute('id'),
        element   : sections[i],
        class     : sections[i].getAttribute('data-focus-body-class'),
        offsetTop : sections[i].offsetTop
      });
    }

    //
    // The first item starts way before 0 to make up for the clever
    // apple scrollback behavior
    //
    sectionCache[0].offsetTop = window.innerHeight;

    var offset = window.innerHeight/4;

    window.onscroll = debounce(function(e) {

      for (var i=0; sectionCache.length > i; i++) {
        var next = (sectionCache[i+1]) ? sectionCache[i+1].offsetTop : body.scrollHeight;
        var top  = Math.max(parseInt(document.body.scrollTop),parseInt(document.documentElement.scrollTop));

        if ((top > sectionCache[i].offsetTop-offset || top < 1) && top < (next-offset)) {

          if (activeBg !== sectionCache[i].id) {

              //clear any set class
              for (var ii=0; sectionCache.length > ii; ii++) {
                body.classList.remove(sectionCache[ii].class);
              }

              //Add current class
              body.classList.add(sectionCache[i].class);

              activeBg = sectionCache[i].id;
          }
          break;
        }
      }
    }, 50);
    </script>
  </body>
</html>
